<div style="background-color: rgb(51, 117, 132); border-radius: 30px; " class="w-75 container mt-4 p-5 border border-white text-center">
    <h1 class="text-center text-black">Transacation History</h1>
    <table class="border border-white w-100" style=" background-color: rgb(92, 175, 44);">
    <thead class="border border-white">
        <tr>
        <th class="border border-white">Type</th>
        <th class="border border-white">Amount</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of transaction">
            <td class="border border-white">{{i.type}}</td>
            <td class="border border-white">{{i.amount}}</td>
        </tr>
        
    </tbody>
</table>
</div>